@model Asilo.Models.TEstablecimientoUser

@{
    ViewData["Title"] = "Create";
}
<style>
    #map {
        height: 400px;
        width: 100%;
    }
</style>
<div class="card border-info text-center">
    <div class="card-header bg-transparent border-info text-primary">
        <h1>Crear nuevo</h1>
        <h4>Establecimiento</h4>
    </div>
    <div class="card-body">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-3">
                <input asp-for="Nombre" type="text" class="form-control" placeholder="Razón Social" />
                <label>Razón social</label>
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Nit" type="text" class="form-control" placeholder="NIT-0987890" />
                <label>NIT</label>
                <span asp-validation-for="Nit" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="RepresentantePrincipal" type="text" class="form-control" placeholder="Nombres Apellidos" />
                <label>Representante Principal</label>
                <span asp-validation-for="RepresentantePrincipal" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Email" type="email" class="form-control" placeholder="correo@endidad.com" />
                <label>Correo electronico</label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Telefono" type="number" class="form-control" placeholder="4380987" />
                <label>Telefono</label>
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Celular" type="number" class="form-control" placeholder="76760983" />
                <label>Celular</label>
                <span asp-validation-for="Celular" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Direccion" type="text" class="form-control" placeholder="Av. Calle" />
                <label>Direccion de domicilio</label>
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Latitud" class="form-control" placeholder="-00,000000" />
                <label>Latitud</label>
                <span asp-validation-for="Latitud" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Longitud" class="form-control" placeholder="-00,000000" />
                <label>Longitud</label>
                <span asp-validation-for="Longitud" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="TipoEstablecimiento" type="text" class="form-control" placeholder="Institución / Asilo" />
                <label>Tipo Establecimiento</label>
                <span asp-validation-for="TipoEstablecimiento" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                
                <input asp-for="Usuario1" class="form-control" required placeholder="Nombre de usuario" />
                <label>Usuario</label>
                <span asp-validation-for="Usuario1" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Password" class="form-control" required type="password" placeholder="Contraseña" />
                <label>Contraseña</label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div id="map">
            </div>
            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSce5nXAFJC6gZr-dBEWz8Te91I20nSiE&callback=initMap"></script>

            <script>
                function initMap() {
                    // Establece las coordenadas iniciales del mapa
                    var myLatLng = { lat: -17.380694428831475, lng: -66.16026984351957 };

                    // Crea un nuevo mapa y establece su centro y nivel de zoom
                    var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 15,
                        center: myLatLng
                    });
                    // Crea un nuevo marcador y agrégalo al mapa
                    var marker = new google.maps.Marker({
                        position: myLatLng,
                        map: map,
                        draggable: true,
                        title: '¡Arrástrame!'
                    });

                    // Agrega un escuchador de eventos al marcador para actualizar los campos de latitud y longitud cuando se arrastre
                    marker.addListener('dragend', function () {
                        document.getElementById('Latitud').value = marker.getPosition().lat();
                        document.getElementById('Longitud').value = marker.getPosition().lng();
                    });
                }
            </script>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
