@model Asilo.Models.Establecimiento

@{
    ViewData["Title"] = "Create";
}

<div class="card border-info text-center">
    <div class="card-header bg-transparent border-info text-primary">
        <h1>Crear nuevo</h1>
        <h4>Establecimiento</h4>
    </div>
    <div class="card-body">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-3">
                <input asp-for="Nombre" type="text" class="form-control" placeholder="Razón Social" />
                <label>Razón social</label>
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Nit" type="text" class="form-control" placeholder="NIT-0987890" />
                <label>NIT</label>
                <span asp-validation-for="Nit" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="RepresentantePrincipal" type="text" class="form-control" placeholder="Nombres Apellidos" />
                <label>Representante Principal</label>
                <span asp-validation-for="RepresentantePrincipal" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Email" type="email" class="form-control" placeholder="correo@endidad.com" />
                <label>Correo electronico</label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Telefono" type="number" class="form-control" placeholder="4380987" />
                <label>Telefono</label>
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Celular" type="number" class="form-control" placeholder="76760983" />
                <label>Celular</label>
                <span asp-validation-for="Celular" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Direccion" type="text" class="form-control" placeholder="Av. Calle" />
                <label>Direccion de domicilio</label>
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Latitud" class="form-control" placeholder="-00,000000" />
                <label>Latitud</label>
                <span asp-validation-for="Latitud" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Longitud" class="form-control" placeholder="-00,000000" />
                <label>Longitud</label>
                <span asp-validation-for="Longitud" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="TipoEstablecimiento" type="text" class="form-control" placeholder="Institución / Asilo" />
                <label>Tipo Establecimiento</label>
                <span asp-validation-for="TipoEstablecimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="CREAR" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="card-footer bg-transparent border-info text-body-secondary">
        <a asp-action="Index" class="btn btn-outline-info">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
