@model Asilo.Models.Establecimiento

@{
    ViewData["Title"] = "Edit";
}
<style>
    #map {
        height: 400px;
        width: 100%;
    }
</style>
<h1>Modificar</h1>

<h4>Establecimiento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nit" class="control-label"></label>
                <input asp-for="Nit" class="form-control" />
                <span asp-validation-for="Nit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepresentantePrincipal" class="control-label"></label>
                <input asp-for="RepresentantePrincipal" class="form-control" />
                <span asp-validation-for="RepresentantePrincipal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Celular" class="control-label"></label>
                <input asp-for="Celular" class="form-control" />
                <span asp-validation-for="Celular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Latitud" class="control-label"></label>
                <input asp-for="Latitud" class="form-control" />
                <span asp-validation-for="Latitud" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Longitud" class="control-label"></label>
                <input asp-for="Longitud" class="form-control" />
                <span asp-validation-for="Longitud" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoEstablecimiento" class="control-label"></label>
                <input asp-for="TipoEstablecimiento" class="form-control" />
                <span asp-validation-for="TipoEstablecimiento" class="text-danger"></span>
            </div>
            <div id="map">
            </div>
            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSce5nXAFJC6gZr-dBEWz8Te91I20nSiE&callback=initMap"></script>

            <script>
                function initMap() {
                    // Obtiene los valores iniciales de latitud y longitud desde los campos de entrada
                    var latitud = parseFloat(document.getElementById('Latitud').value);
                    var longitud = parseFloat(document.getElementById('Longitud').value);

                    // Verifica si los valores son válidos, de lo contrario, utiliza un valor predeterminado
                    if (isNaN(latitud) || isNaN(longitud)) {
                        latitud = -17.380694428831475;
                        longitud = -66.16026984351957;
                    }

                    // Establece las coordenadas iniciales del mapa
                    var myLatLng = { lat: latitud, lng: longitud };

                    // Crea un nuevo mapa y establece su centro y nivel de zoom
                    var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 15,
                        center: myLatLng
                    });

                    // Crea un nuevo marcador y agrégalo al mapa
                    var marker = new google.maps.Marker({
                        position: myLatLng,
                        map: map,
                        draggable: true,
                        title: '¡Arrástrame!'
                    });

                    // Agrega un escuchador de eventos al marcador para actualizar los campos de latitud y longitud cuando se arrastre
                    marker.addListener('dragend', function () {
                        document.getElementById('Latitud').value = marker.getPosition().lat();
                        document.getElementById('Longitud').value = marker.getPosition().lng();
                    });
                }
            </script>
            <br />
            <div class="form-group">
                <input type="submit" value="Modificar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
